@import 'variables.less';

.md-cont-accent {
    background-color: @abc500;
    color: @atc500;
}

.md-cont-accent-strong {
    background-color: @abc800;
    color: @atc800;
}

.md-cont-primary {
    background-color: @bc500;
    color: @tc500;
}

.md-cont-primary-strong {
    background-color: @bc800;
    color: @tc800;
}

.md-cont-primary-light {
    background-color: @bc50;
    color: @tc50;
}

.md-cont-warn {
    background-color: @wbcA700; 
    color: @wtcA700;
}

.md-cont-gray {
    background-color: @gray-back;
    color: @accent-text-color-dark; 
}