/** Primary **/

@primary-text-color-light: #fff;
@primary-text-color-dark: #000;

@bc500: #2196F3;
@tc500: @primary-text-color-light;
@bc600: #1E88E5;
@tc800: @primary-text-color-light;
@bc700: #1976D2;
@tc800: @primary-text-color-light;
@bc800: #1565C0;
@tc800: @primary-text-color-light;
@bc900: #0D47A1;
@tc800: @primary-text-color-light;

/** Accent **/

@accent-text-color-light: #fff;
@accent-text-color-dark: rgba(0, 0, 0, 0.87);

@abc500: #FF9800;
@atc500: @accent-text-color-dark;