
<section layout="row" layout-fill>
    <md-sidenav 
        ui-view="menu"
        id="sidenav" 
        md-is-locked-open="$mdMedia('gt-sm')">

 
        <header class="text-center">
            <h2><md-icon>rss_feed</md-icon>
            <span class="vamiddle">Lila<b>RSS</b></h2>
        </header>
        <md-menu>
            <md-menu-content>
                <md-button class="md-raised md-primary">LAlala</md-button>
                <md-button class="md-raised md-accent">LAlala</md-button>
                <md-button class="md-raised md-warn">LAlala</md-button>
                <md-toolbar>hédshé</md-toolbar>
            </md-menu-content>
        </md-menu>
    </md-sidenav>
    
    <div flex>
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
        dfdsf<br />
    </div>
    
    </section>