
<div layout="row" layout-fill>
    <md-sidenav 
        ui-view="menu"
        md-whiteframe="2"
        md-component-id="sidenav-left"
        md-is-locked-open="$mdMedia('gt-sm')">

        <header class="md-cont-primary-strong text-center">
            <h2 class="logo">
                <md-icon>rss_feed</md-icon>
                <span class="vamiddle">Lila<b>RSS</b>
            </h2>
        </header>
        <div id="main-menu">
            <md-subheader class="md-no-sticky">{{ 'MY_ACCOUNT'|translate }}</md-subheader>
            <md-menu-content>
                <md-menu-item>
                    <a ui-sref="login" class="md-button" md-ink-ripple>
                        <md-icon>add</md-icon>
                        <span md-menu-align-target>{{ 'ADD_SUBSCRIPTION'|translate }}</span>
                    </a>
                </md-menu-item>
                <md-menu-item ng-repeat="item in [1, 2, 3]">
                    <md-button>  <md-icon>person</md-icon><span md-menu-align-target>Option</span> {{item}} </md-button>
                </md-menu-item>
            </md-menu-content>

       
            <md-subheader class="md-no-sticky">{{ 'SUBSCRIPTIONS'|translate }}</md-subheader>
            <md-menu-content>
                <md-menu-item ng-repeat="item in [1, 2, 3]">
                    <md-button>  <img src="https://material.angularjs.org/1.0.6/favicon.ico" class="favicon" /><span md-menu-align-target>Option</span> {{item}} </md-button>
                </md-menu-item>
            </md-menu-content>
       </div>
    </md-sidenav>
    
    <div layout="column" layout-fill>
        <md-toolbar md-whiteframe="2" layout-align="space-between center" layout="row">
            <md-icon class="search-icon">search</md-icon>
            <div flex class="search">
                <form>
                    <md-autocomplete
                        ng-disabled="ctrl.isDisabled"
                        md-no-cache="ctrl.noCache"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-search-text="ctrl.searchText"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.name"
                        md-min-length="0"
                        placeholder="Rechercher du contenu ou Ajouter un flux RSS"
                        md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                        <span class="item-title">
                            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                            <span> {{item.name}} </span>
                        </span>
                        <span class="item-metadata">
                            <span class="item-metastat">
                            <strong>{{item.watchers}}</strong> watchers
                            </span>
                            <span class="item-metastat">
                            <strong>{{item.forks}}</strong> forks
                            </span>
                        </span>
                        </md-item-template>
                    </md-autocomplete>
                </form>
            </div>
            <md-menu>
                <button class="md-icon-button md-button" md-ink-ripple type="button" ng-click="$mdOpenMenu($event)">
                    <md-icon>more_vert</md-icon>
                    <div class="md-ripple-container"></div>
                </button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>
                            <md-icon>exit_to_app</md-icon>
                            {{ 'LOGOUT'|translate }}    
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
        
        <md-content class="md-cont-gray" flex layout="row" md-scroll-y layout-align="center start">
        
            <md-card layout-padding flex-lg="70" flex="90" flex-xl="65" flex-xs="96">
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />
                dfdsf<br />s
            </md-content>
        </div>
    </div>
</div>