
<md-sidenav 
    ui-view="menu"
    id="sidenav" 
    md-is-locked-open="$mdMedia('gt-sm')">


    <header class="text-center logo">
        <span class="md-display-1">
            <img src="/images/logo.png" width="30" height="30" />
            <span class="vamiddle">Lila<b>RSS</b>
        </span>
    </header>
    <md-menu>
        <md-menu-content>
            <md-button class="md-raised md-primary">LAlala</md-button>
            <md-button class="md-raised md-accent">LAlala</md-button>
            <md-button class="md-raised md-warn">LAlala</md-button>
            <md-toolbar>hédshé</md-toolbar>
        </md-menu-content>
    </md-menu>
</md-sidenav>